# Large files
gradle-bin.zip

# Built artifacts
build/
**/build/
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class

# Gradle files
.gradle/
/local.properties
/captures

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath

# OS files
.DS_Store
Thumbs.db
*.swp
*~

# Log files
*.log

# Mobile toolings
.externalNativeBuild/
.cxx/
crashlytics-build.properties

# Keystore files and local properties
keystore.properties
*.keystore
*.jks
jitendhull
